/*
Syntax error: Undefined variable: "$headerColour".
        on line 3 of scss/layout.scss

1: header{
2: 	max-width:100%;
3: 	background-color:$headerColour;
4: 	overflow:hidden;
5: }
6: header img{
7: 	max-width:30%;
8: 	margin: 15px;

Backtrace:
scss/layout.scss:3
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/script/variable.rb:49:in `_perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/script/node.rb:40:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:293:in `visit_prop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:97:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:106:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:118:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:105:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:315:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:97:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:106:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:118:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:105:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:125:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:97:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/engine.rb:315:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/engine.rb:262:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/plugin/compiler.rb:200:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$headerColour\".\A         on line 3 of scss/layout.scss\A \A 1: header{\A 2: 	max-width:100%;\A 3: 	background-color:$headerColour;\A 4: 	overflow:hidden;\A 5: }\A 6: header img{\A 7: 	max-width:30%;\A 8: 	margin: 15px;"; }
