/*-- Normalize --*/
@import 'normalize';
/* -- Mixins -- */
@import 'mixins';

/** Defaults **/
$largest-bp : 960px;
$mid-bp : 520px;
$sm-bp : 340px;
/*Header background colour*/
$headerColour : #d3e4ff;
/*the default link colour*/
$linkColour: rgb(170, 170, 170);
$navColour: #fff;
$linkHover: #dc4e23;
/*the background colour for most elements*/
$bgColour: #e7ebf0;
/*the colour for the footer*/
$fColour: #d6d6d6;
/*the style for the borders*/
$borderStyle: 1px solid #ebebeb;
/*box shadow style*/
$boxShadow : 0 0 2px 0 rgba(0,0,0,0.5);

/** Fonts **/
$primary-font : "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font : "Helvetica Neue", Arial, sans-serif;
$secondaryColour : #485d80;
$priFont-colour : #1e1e1e;
$subfont-colour : #555555;

body{
	font-family:$primary-font;
	color:$priFont-colour;
}
h1{
	margin-top: 6%;
	margin-left: 2%;
	font: 57px $primary-font;
	color: $secondaryColour;
}
h2{
	margin: 0 15px;
	font-size:30px;
}
h3 {
	margin: 0;
	padding: 2% 6%;
}
img{
	max-width:100%;
}

/** Layout **/
header{
	max-width:100%;
	background-color:$headerColour;
	overflow:hidden;
}
header img{
	margin-right: 15px;
	float:left;
}

#container{
	max-width:$largest-bp;
	margin: 0 auto;
	border:1px solid red;
}

div > p {
	margin: 0;
	padding: 2%;
}

.content{
	max-width:100%;
	padding-top:2%;
	background-color: $bgColour;
	overflow:hidden;
}
.col-1{
	width:100%;
	@media (min-width:$mid-bp){
		width:65%;
		float:left;
	}
}

.col-2{
	width:100%;
	@media (min-width:$mid-bp){
		width:35%;
		float:left;
	}
}
#col-3{
	width:100%;
	@media (min-width:$mid-bp){
		width:50%;
		float:left;
	}
}
.col-4{
	width:100%;
	@media (min-width:$mid-bp){
		width:50%;
		float:left;
	}
}
footer{
	background-color:$headerColour;
}

footer > img{
	max-width:100%;
	margin:1%;
}
/** Nav **/
.main-nav{

	ul{ 
		padding:0; 
		margin:0; 
	}
	
	li{ 
		margin-top:1em; 
		list-style:none; 
	}
	li:first-child{ 
		padding-left: 0;
	 
		margin-top:0;
	}
	a{ 
		display:block; 
		color:$navColour; 
		text-decoration:none; 
		font:$secondary-font; 
		padding:1em; 
		text-align:center; 
		background-color:$secondaryColour;
	}
	a:hover{
		background-color:$bgColour;
		color:$linkHover;
	}
	@media (min-width:$mid-bp){
		ul { @include clearfix; }
		li { 
			float:left; 
			margin-left:1em; 
			margin-top:0; 
		}
		li:first-child{ 	
			padding-left: 46%; 
		}
		a{ 
			padding:0.5em 1em; 
			text-align:center; 
		}	
	}
}